:root {
    --primary-font: Poppins;
    --second-font: Sen;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font), system-ui, sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    min-width: 114px;
    line-height: 50px;
    padding: 0 8px;
    background: #171100;
    border-radius: 999px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    overflow: hidden;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    left: 0;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px 0;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5f5b53;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
}
